/* enlever les flèches input number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}


.table-row-hover {
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.table-row-hover:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
}
/* Table sale*/
/* .table-row-hover {
  transition: all 0.2s ease;
}

.table-row-hover:hover {
  background-color: #f8f9fa;
  transform: scale(1.01);
} */

/* Card pipeline */
/* .card-column-hover {
  transition: all 0.2s ease;
}
.card-column-hover:hover {
  transform: scale(1.02);
} */

.modal.fade .modal-dialog {
  transition: transform 0.2s ease-out;
}

.fc-event {
  cursor: pointer;
}

.custom-tooltip .tooltip-inner {
  background-color: #ffffff; /* fond clair */
  color: #212529; /* texte sombre */
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 0.9rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: left;
}

.custom-tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #ffffff;
}

.custom-tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #ffffff;
}

.custom-tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #ffffff;
}

.custom-tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #ffffff;
}